/*Settings*/

/*Fonts*/
f_opensans_c = 'Open Sans Condensed', sans-serif


/*Colors*/
c_red        = #ee1011
c_purple     = #bf9daa
c_black      = #0a0102

/*Breakpoints*/
bp-large     = 1025px
bp-medium    = 768px
