/*Settings*/

/*Fonts*/
f_opensans_c = 'Open Sans Condensed', sans-serif
f_roboto = 'Roboto', sans-serif


/*Colors*/
c_wine          = #7b0000
c_red           = #ee1011
c_purple        = #bf9daa
c_black         = #0a0102
c_black-alpha   = #414141
c_blue_base     = #00eaff
c_green         = #00484e
c_gray          = #c4c4c4

/*Breakpoints*/
bp-xlarge        = 1366px
bp-large-alpha   = 1270px
bp-large         = 1025px
bp-medium-alpha  = 991px
bp-medium        = 768px
